// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal 
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none 
// ## fonts
// Save fonts to /src/fonts 
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

// fonts
+font(Geometria, Geometria)
=gr
	font-family: "Geometria", Arial, sans-serif

+font(Geometria-Light, Geometria-Light)
=gl
	font-family: "Geometria-Light", Arial, sans-serif

+font(Geometria-Bold, Geometria-Bold)
=gb
	font-family: "Geometria-Bold", Arial, sans-serif
	
+font(Geometria-ExtraBold, Geometria-ExtraBold)
=geb
	font-family: "Geometria-ExtraBold", Arial, sans-serif

// extends
.in
	margin: 0 auto
	padding: 0 30px 0 40px
	max-width: 915px 
%in
	@extend .in


body
	color: $white 
	+gr
	font-size: 18px
	line-height: 1.2
	background: url("../img/bg.png") no-repeat 50% 0
	background-size: cover
	&.is-who
		overflow: hidden
		.wrap
			background: rgba($yellow, .8)
			.l
				text-align: left
		.l-col1
			width: 44%
	&.is-what
		.wrap
			background-color: rgba($blue, .68)
		.title-small
			padding-left: 40px
	
// common blocks 
	
// greeting
.greeting
	padding: 60px 44px 0
	font-size: 30px
	&__bold
		+gb

// logo-big
.logo-big
	padding-left: 80px

// team
.team
	padding: 45px 0
	min-height: 692px

// face
.face
	margin-top: 120px

// nav-name
.nav-name
	color: $blue 

// nav
.nav
	margin-top: 22px
	+gb
	font-size: 16px
	text-transform: uppercase
	li
		margin-top: 20px
		display: block
		&.is-active
			+geb
		&:first-child
			margin-top: 0
	a
		color: $blue 

// evidence
.evidence
	margin-top: 225px

// name
.name
	+geb
	font-size: 20px

// profession
.profession
	margin-top: 8px

// line
.line
	position: absolute
	top: 50%
	left: 50%
	transform: rotate(-49deg)
	margin: -210px 0 0 -50%
	height: 420px
	width: 100vw
	z-index: 1
	background: $blue 
	&:before,
	&:after
		position: absolute
		content: ""
		top: 0
		height: 420px
		width: 100vw
		background: $blue 
	&:before
		right: calc(100% - 1px)
	&:after
		left: calc(100% - 1px)

// outer
.outer
	position: absolute
	top: 50%
	left: 50%
	transform: rotate(-49deg)
	margin: -210px 0 0 -50%
	height: 420px
	width: 100vw
	overflow: hidden
	z-index: 3
	&__in
		position: absolute
		padding-left: 10.4%
		top: 50%
		left: 50%
		height: 100vh
		width: 100vw
		transform: rotate(49deg)
		margin: -50vh 0 0 -50vw
		.team
			width: 40%
			text-align: left
			line-height: 1.2
			font-size: 18px
			+font-smoothing(antialiased)
			vertical-align: middle
			display: inline-block
		.nav-name
			color: $white 
		.nav a 
			color: $white

// projects
.projects
	margin-top: 30px
	overflow: hidden
	&__in
		margin: -1% -1% 0 0
		+clr

// project
.project
	float: left
	padding-bottom: 25%
	margin: 1% 1% 0 0
	width: 32%
	background-color: $l_blue
	background-size: cover
	background-repeat: no-repeat
	background-position: 0 0