<section class="section is-home" id="about">
    <!-- l -->
    <div class="l">
        <div class="l__in">
            <div class="l-col1">
                <!-- greeting -->
                <div class="greeting">
                    <h3 class="title">Hello</h3>
                    <p>we are Nebo15 and we’re </p>
                    <div class="greeting__bold">fintech rockstars!</div>
                </div>
            </div>
            <div class="l-col2">
                <div class="logo-big">
                    <img src="img/logo-big.png" alt="img">
                </div>
            </div>
        </div>
        <a href="#who" class=""><i class="scroll-icon"></i></a>

    </div>
</section>
