<section class="section is-what" id="what">
	<!-- l -->
	<div class="l" >
		<div class="l__in">
			<h3 class="title-small">OUR PROJECTS</h3>
			<!-- projects -->
			<div class="projects">
				<div class="projects__in">
					<a href="#" class="project" style="background-image: url(http://lorempixel.com/400/200/sports);"></a>
					<a href="#" class="project"></a>
					<a href="#" class="project"></a>
					<a href="#" class="project"></a>
					<a href="#" class="project"></a>
					<a href="#" class="project"></a>
				</div>
			</div>
		</div>
	</div>
</section>