<section class="section is-what" id="what">
	<!-- l -->
	<div class="l" >
		<div class="l__in">
			<h3 class="title-small">OUR PROJECTS</h3>
			<!-- projects -->
			<div class="projects">
				<div class="projects__in">
					<a href="#" class="project" style="background-position: 0; background-image: url('/img/projects/gnd.png');"></a>
					<a href="#" class="project" style="background-position: 0; background-image: url('/img/projects/1.png');"></a>
					<a href="#" class="project" style="background-position: 0; background-image: url('/img/projects/mbank.png');"></a>

					<a href="#" class="project" style="background-position: 0; background-image: url('/img/projects/payray.png');"></a>
					<a href="#" class="project" style="background-position: 0; background-image: url('/img/projects/jetpay.png');"></a>
					<a href="#" class="project" style="background-position: 0; background-image: url('/img/projects/parasport.png');"></a>

				</div>
			</div>
		</div>
	</div>
</section>