<section class="section" id="where">
	<!-- contacts -->
	<div class="contacts">
		<!-- contact -->
		<div class="contact">
			<div class="contact__wrap">
				<div class="contact__in">
					<h3 class="title-average">We are located in Kiev, Ukraine.</h3>
					<p>33, Tarasa Shevchenko Boulevard, Kiev, Ukraine, 01032.</p>
					<p>Also, for no reason, we turned our office into coworking space, <a class='title-average-link' href="https://www.facebook.com/nebo15">check it out</a>.</p>
				</div>
			</div>
		</div>
		<div class="contact-map">
			<div class="map" id="map"></div>
		</div>
	</div>
</section>
